.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 40px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}



// CSS du kit wagon ici.



.card-trip {
  overflow: hidden;
  background: none;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  position: relative;
  transition: .4s ease all;
  margin-bottom: 10px;
  width: 250px;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

  }
}

.card-trip:hover {
  transform: scale(1.05);
}

.card-category > img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  max-width: 160px;
  font-weight: bold;
  margin: 0;
  color: #8a5642;
  text-align: center;
}

/* Pour le prix : h5 */
.card-trip h5 {
  font-family: sans-serif;
  font-size: 12px;
  max-width: 160px;
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
  font-weight: light
}

.card-trip p {
  font-family: sans-serif;
  font-size: 12px;
  color: #69737A;
  font-weight: normal;
  opacity: .7;
  margin: 0;
  text-align: center;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.card-category {
  height: 250px;
  width: 250px;
}

/*
.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
} */
