.navbar .navbar-lewagon {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 30px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  font-family: Lobster;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

