.container-b {
  position: relative;
}

.container h1 {
  font-family: 'Roboto', sans-serif;
  color: #0A1F2E;
  font-size : 40px;
  font-weight: bold;
}

.container h2 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #912F56;
  font-size : 14px;

}

.container h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #958893;
  font-size : 60px;
}

.input {
  font-family: 'Roboto', sans-serif;
  color: #B9B0B7;
  font-size : 20px;
  opacity: 0.5;

}

.container h4 {
  font-family: 'Roboto', sans-serif;
  color: #6E5C6B;
  font-size : 20px;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-b:hover .card-category {
  opacity: 0.7;
}

.container-b:hover .middle {
  opacity: 1;
}

.text {
  background-color: #ffffff;
  color: #754e15;
  font-size: 15px;
  padding: 13px 25px;
  font-family: 'Roboto', sans-serif;
}

.text-show {
  color: #754e15;
  font-size: 15px;
  padding: 13px 25px;
  font-family: 'Roboto', sans-serif;
}
